<header>
  <div>
    <a href="/home"><img class="logo" src="assets/images/shop-logo-transperant-resized.png"/></a>
  </div>
  <div class="nav-bar">
    <ul *ngFor="let data of shopService.productCategories">
      <li (click)="navigateToCategory(data)">{{data}}</li>
    </ul>
  </div>
  <div class="user-profile">
    <ul *ngIf="!isLoggedUser()">
      <li routerLink="/user/login" routerLinkActive="active">Login</li>
      <li routerLink="/user/registration" routerLinkActive="active">Sign up</li>
    </ul>
    <ul *ngIf="isLoggedUser()">
      <li routerLink="/user/cart" routerLinkActive="active">My cart</li>
      <li (click)="logout()">Logout</li>
    </ul>
  </div>
</header>