<header>
  <div >
    <a href="/home"><img class="logo" src="assets/images/shop-logo-transperant-resized.png"/></a>
  </div>
  <div class="nav-bar">
    <ul *ngFor="let data of shopService.productCategories">
      <li (click)="showProductsByCategory(data)">{{data}}</li>
    </ul>
  </div>
  <div class="user-profile">
    <ul *ngIf="!isLoggedUser()">
      <li (click)="navigateToLoginForm()">Login</li>
      <li (clicl)="navigateToRegistrationForm()">Sign up</li>
    </ul>
    <ul *ngIf="isLoggedUser">
      <li (click)="navigateToCart()">My cart</li>
    </ul>
  </div>
</header>