<div class="product-creation">
    <div class="form-wrapper">
        <form [formGroup]="productEdit" autocomplete="on" (ngSubmit)="submitChanges()">
            <label class="required"></label>
            <label id="name-label">Name: </label>
            <label *ngIf="productEdit.get('Name').touched &&
                productEdit.get('Name').errors?.required">This field is required!</label>
            <div class="text-box-center">
                <input id="text-box" type="text" formControlName="Name" placeholder="Enter product name" />
            </div>
            <label id="description-label">Description: </label>
            <div class="text-box-center">
                <textarea id="product-description" formControlName="Description" 
                placeholder="Type the description of the product here."></textarea>
            </div>
            <label id="product-price">Price: </label>
            <label class="required"></label>
            <label *ngIf="productEdit.get('Price').touched &&
                productEdit.get('Price').errors?.required">This field is required!</label>
            <div class="text-box-center">
                <input id="text-box" type="number" formControlName="Price" placeholder="Enter product price" />
            </div>
            <label id="product-quantity">Quantity: </label>
            <label class="required"></label>
            <label *ngIf="productEdit.get('Quantity').touched &&
                productEdit.get('Quantity').errors?.required">This field is required!</label>
            <div class="text-box-center">
                <input id="text-box" type="number" formControlName="Quantity" placeholder="Enter your phone number" />
            </div>
            <div>
                <button id="submit-edit" type="submit" [disabled]="productEdit.invalid">Create product</button>
            </div>
        </form>
    </div>
</div>


