<app-header></app-header>
<router-outlet></router-outlet>
<main>
  <div class="products-container">
    <div class="product">
      <div class="product-details" *ngFor="let data of shopService.products">
        <div class="product-name">{{data.name}}</div>
        <div class="product-image"></div>
        <ul>
          <li>Price: {{data.price}}</li>
          <li>Available quantity: {{data.quantity}}</li>
          <li>Status: {{data.status}}</li>
        </ul>
      </div>
    </div>
  </div>
</main>
