header {
  position: relative;
}

.logo {
  max-width: 40vw;
  height: auto;
}

.nav-bar {
}

.nav-bar ul {
  display: inline;
  list-style-type: none;
  font-size: 1.3em;
  margin-top: 0;
  padding-left: 10px;
  padding-bottom: 0;
}

.nav-bar ul li {
  display: inline-block;
}

.user-profile {
  order: 3;
  flex: 0 0 20%;
}
