.login-container {
    position: relative;
    height: 78vh;
    width: 100%;
}

.form-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    width: 30%;
}

#username-label {
    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
    position: absolute;
    top: 7%;
    left: 38.5%;
}

#password-label {
    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
    position: absolute;
    left: 38.5%;
    top: 45%;
}

#login-button {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    right: 46%;
    top: 100%;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.5);
    font-weight: 700;
    color: black;
    background-color: white;
    transition: 0.7s;
}

#login-button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: none;
    transform: scale(1.15);
}

#login-button:disabled {
    cursor: default;
    border: 2px solid silver;
    box-shadow: none;
    color: silver;
    background-color: white;
    transform: scale(1);
}

#sign-up-link {
    position: absolute;
    bottom: 7%;
    left: 26.5%;
    color: blue;
    transition: 0.7s;
}

#sign-up-link:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.1);
}