<app-header></app-header>
<main>
    <div class="login-container">
        <div class="form-wrapper">
            <form #loginForm="ngForm" autocomplete="off" (submit)="submit(loginForm)">
                <label id="username-label">Username: </label>
                <div class="text-box-center">
                    <input #Username="ngModel" name="Username" [ngModel]="loginModel.Username" 
                    id="text-box" placeholder="Enter username" required />
                </div>
                <label id="password-label">Password: </label>
                <div class="text-box-center">
                    <input #Password="ngModel" type="password" name="Password" [ngModel]="loginModel.Password"
                    id="text-box" placeholder="Enter password" required />
                </div>
                <div>
                    <button id="login-button" type="submit" [disabled]="loginForm.invalid">Login</button>
                </div>
            </form>
            <div>
                <h4 id="sign-up-link" routerLink="/user/registration" routerLinkActive="active">Don't have an account? Sign up here!</h4>
            </div>
        </div>
    </div>
</main>