<div class="user-addition">
    <div class="form-wrapper">
        <form [formGroup]="adminService.createModelUser" autocomplete="off" (ngSubmit)="submit()">
            <label class="required"></label>
            <label id="username-label">Username: </label>
            <label *ngIf="adminService.createModelUser.get('Username').touched &&
                adminService.createModelUser.get('Username').errors?.required">This field is required!</label>
            <div class="text-box-center">
                <input id="text-box" type="text" formControlName="Username" placeholder="Enter username" />
            </div>
            <div formGroupName="Passwords">
                <label id="password-label">Password: </label>
                <label class="required"></label>
                <label *ngIf="adminService.createModelUser.get('Passwords.Password').touched && 
                    adminService.createModelUser.get('Passwords.Password').errors?.required">This field is required!</label>
                <label *ngIf="adminService.createModelUser.get('Passwords.Password').touched &&
                    adminService.createModelUser.get('Passwords.Password').hasError('pattern')">
                    Password should contain at least 6 symbols including lowercase and uppercase characters without space!</label>
                <div class="text-box-center">
                    <input id="text-box" type="password" formControlName="Password" placeholder="Enter password" />
                </div>
                <label id="confirm-password-label">Confirm password: </label>
                <label class="required"></label>
                <label *ngIf="adminService.createModelUser.get('Passwords.ConfirmPassword').touched &&
                    adminService.createModelUser.get('Passwords.ConfirmPassword').errors?.required">
                    This field is required!</label>
                <label *ngIf="adminService.createModelUser.get('Passwords.ConfirmPassword').touched &&
                    adminService.createModelUser.get('Passwords.ConfirmPassword').errors?.passwordMismatch">
                    Passwords does not match!</label>
                <div class="text-box-center">
                    <input id="text-box" type="password" formControlName="ConfirmPassword" placeholder="Confirm password" />
                </div>
            </div>
            <label id="email-address-label">Email address: </label>
            <label class="required"></label>
            <label *ngIf="adminService.createModelUser.get('EmailAddress').touched &&
                adminService.createModelUser.get('EmailAddress').errors?.required">This field is required!</label>
            <label *ngIf="adminService.createModelUser.get('EmailAddress').touched &&
                adminService.createModelUser.get('EmailAddress').hasError('patern')">Invalid Email address!</label>
            <div class="text-box-center">
                <input id="text-box" type="email" formControlName="EmailAddress" placeholder="Enter your email address" />
            </div>
            <label id="address">Address: </label>
            <div class="text-box-center">
                    <input id="text-box" type="text" formControlName="Address" placeholder="Enter your address" />
            </div>
            <label id="phone-number">Phone number: </label>
            <label class="required"></label>
            <label *ngIf="adminService.createModelUser.get('PhoneNumber').touched &&
                adminService.createModelUser.get('PhoneNumber').errors?.required">This field is required!</label>
            <label *ngIf="adminService.createModelUser.get('PhoneNumber').touched &&
                adminService.createModelUser.get('PhoneNumber').hasError('maxlength') &&
                adminService.createModelUser.get('PhoneNumber').hasError('minlength')">
                Phone number should consists of 10 digits</label>
            <div class="text-box-center">
                <input id="text-box" type="text" formControlName="PhoneNumber" placeholder="Enter your phone number" />
            </div>
            <label id="bank-account-number">Bank account number: </label>
            <label class="required"></label>
            <label *ngIf="adminService.createModelUser.get('BankAccountNumber').touched &&
                adminService.createModelUser.get('BankAccountNumber').errors?.required">This field is required!</label>
            <label *ngIf="adminService.createModelUser.get('BankAccountNumber').touched &&
                adminService.createModelUser.get('BankAccountNumber').hasError('pattern')">Invalid bank account number!</label>
            <div class="text-box-center">
                <input id="text-box" type="text" formControlName="BankAccountNumber" placeholder="Enter you bank account number" />
            </div>
            <div>
                <button id="sign-up-button" type="submit" [disabled]="adminService.createModelUser.invalid">Add user</button>
            </div>
        </form>
    </div>
</div>

